/* CTA */
#CTA {
  background-color: var(--color-secondary);
}

.CTA__item {
  width: calc(50% - 235px);
}

#CTA__image {
  background-image: url('../../assets/img/cta.jpg');
  background-position: center;
  background-size: cover;
  flex: 1;
}

#CTA__content {
  padding: 109px 100px 124px 135px;
}

#CTA__heading {
  margin-top: 0;
  margin-bottom: 40px;
  color: var(--color-white);
}

#CTA__button {
  width: 200px;
  height: 60px;
  font-size: 24px;
}

#CTA__para {
  color: var(--color-white);
  margin-bottom: 40px;
  max-width: 470px;
  font-size: 20px;
  line-height: 23px;
}

@media (max-width: 1200px) {
  #CTA {
    flex-direction: column-reverse;
  }

  #CTA__image {
    flex: initial;
    padding-top: calc((100% / 375 * 280));
    width: 100%;
  }

  #CTA__content {
    padding: 40px 15px 32px;
    width: calc(100% - 30px);
  }

  #CTA__heading {
    margin-top: 0;
  }

  #CTA__button {
    width: 164px;
    height: 50px;
    font-size: 18px;
    line-height: 21px;
  }

  #CTA__para {
    margin-bottom: 30px;
    max-width: initial;
    font-size: 16px;
    line-height: 19px;
  }
}
