#promotion {
  padding: 264px 0 257px 135px;
  background-image: url('../../assets/img/promotion-bg.png');
  background-position: center;
  background-size: cover;
}

#promotion__heading--1 {
  font-size: 100px;
  line-height: 136px;
}

#promotion__button {
  width: 236px;
  height: 58px;
}

#promotion__paragraph {
  margin-top: 29px;
  margin-bottom: 50px;
  max-width: 569px;
  font-size: 24px;
  line-height: 34px;
}

@media (max-width: 1200px) {
  #promotion {
    padding: 94px 15px 362px;
  }

  #promotion__paragraph {
    margin-top: 12px;
    margin-bottom: 20px;
    max-width: 569px;
    font-size: 14px;
    line-height: 20px;
  }

  #promotion__heading--1 {
    font-size: 48px;
    line-height: 65px;
  }
}

@media (max-width: 480px) {
  #promotion {
    background-image: url('../../assets/img/promotion-bg-mobile.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    background-color: var(--color-background);
  }

  #promotion__button {
    width: 159px;
    height: 50px;
    font-size: 18px;
    line-height: 137.5%;
    margin-bottom: 120px;
  }
}
