#journey {
  padding: 90px 135px;
}

#journey__inner {
  width: 100%;
}

#journey__content {
  width: 500px;
}

#journey__image--wrapper {
  z-index: 201;
}

#journey__image {
  z-index: 202;
  width: 430px;
  height: 559px;
  background-image: url('../../assets/img/journey-img.png');
  background-size: cover;
  background-position: center;
}

#journey__bg {
  margin-top: -355px;
  width: 570px;
  height: 450px;
}

#journey__about {
  width: 176.28px;
  height: 97.84px;
  left: 16.29px;
  bottom: -45.56px;
}

#journey__sparklings {
  gap: 10px;
}

#journey__heading {
  margin: 45.32px 0 20px;
}

#journey__subheading {
  font-size: 20px;
  line-height: 34px;
}

#journey__paragraph {
  margin-top: 20px;
  margin-bottom: 40px;
}

#journey__button {
  padding: 19px 56px;
}

.journey__sparklings--item {
  background: #c3ab8e;
  position: relative;
}

@media (max-width: 1350px) {
  #journey__bg {
    width: 430px;
  }
}

@media (max-width: 1200px) {
  #journey {
    padding: 40px 15px;
  }

  #journey__inner {
    flex-direction: column;
  }

  #journey__image {
    width: 260.26px;
    height: 338.34px;
  }

  #journey__bg {
    width: 345px;
    height: 272.37px;
    margin-top: -214.87px;
    max-width: 100%;
  }

  #journey__content {
    margin-top: 60.48px;
    width: initial;
  }

  #journey__about {
    width: 106.7px;
    height: 59.22px;
  }

  #journey__button {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1.5px;
  }
}

@media (min-width: 1441px) {
  #journey__inner {
    justify-content: center;
    gap: 94px;
  }
}
