#testimonial {
  /* 90 = 122 - 32  */
  padding: 90px 135px 90px;
  overflow-x: hidden;
}

#testimonial__snowflakes {
  gap: 10px;
}

.testimonial__snowflake {
  margin-bottom: 25px;
}

.testimonial__heading {
  color: #ffe0b4;
  margin-bottom: 60px;
}

.testimonial__comment {
  color: #928475;
  max-width: 589px;
  font-size: 30px;
  line-height: 45px;
}

.testimonial__content {
  width: 100%;
}

.testimonial__content--inner {
  width: 100%;
  height: 276px;
  overflow: hidden;
}

.testimonial__slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transition: 1s;
}

.testimonials__avt {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  width: 111px;
  height: 111px;
  z-index: 201;
  margin-top: 74px;
}

#testimonials__avt--1 {
  background-image: url('../../assets/img/testimonial_avt-1.png');
}

#testimonials__avt--2 {
  background-image: url('../../assets/img/testimonial_avt-2.png');
}

#testimonials__avt--3 {
  background-image: url('../../assets/img/testimonial_avt-3.png');
}

#testimonials__flower {
  margin-top: -144px;
  z-index: 200;
}

.testimonials__change {
  cursor: pointer;
  align-self: baseline;
}

#testimonials__polygon-left {
  display: none;
}

@media (max-width: 1200px) {
  #testimonial {
    padding: 40px 15px 40px;
  }

  .testimonial__content {
    justify-content: center;
  }

  .testimonial__content--inner {
    height: 256px;
  }

  .testimonial__heading {
    margin-bottom: 40px;
  }

  .testimonial__comment {
    font-size: 26px;
    line-height: 36px;
  }
}

@media (max-width: 480px) {
  .testimonials__change {
    display: none !important;
  }
}
