* {
  font-family: 'Epilogue';
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #fff;
}

ul li {
  display: block;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}
