#spects__content {
  width: 50%;
  padding: 0 125px;
}

#spects__content--inner {
  width: 100%;
}

.spects__spect > div {
  margin-bottom: 20px;
}

.spects__spect > p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}

.spects__spect--divider {
  margin: 0;
}

#spects__img {
  width: 50%;
  padding-top: calc((50% / 720 * 786) / 2 - 41px);
  padding-bottom: calc((50% / 720 * 786) / 2 - 41px);
  background-image: url('../../assets/img/specs.png');
  background-size: cover;
  background-position: top;
}

@media (max-width: 1200px) {
  #spects {
    flex-direction: column-reverse;
  }

  #spects__content {
    width: 100%;
    padding: 40px 15px 0;
  }

  .spects__spect > p {
    margin-bottom: 20px;
  }

  #spects__img {
    width: 100%;
    padding-top: calc((100% / 720 * 786) / 2 - 41px);
    padding-bottom: calc((100% / 720 * 786) / 2 - 41px);
  }
}
