#airpod-case-1__img {
  background-image: url('../../assets/img/airpod-case-1.png');
}

#airpod-case-2__img {
  background-image: url('../../assets/img/airpod-case-2.png');
}

#airpod-case-3__img {
  background-image: url('../../assets/img/airpod-case-3.png');
}

#airpod-case-4__img {
  background-image: url('../../assets/img/airpod-case-4.png');
}
