#customized-case-1__img {
  background-image: url('../../assets/img/customized-case-1.png');
}

#customized-case-2__img {
  background-image: url('../../assets/img/customized-case-2.png');
}

#customized-case-3__img {
  background-image: url('../../assets/img/customized-case-3.png');
}

#customized-case-4__img {
  background-image: url('../../assets/img/customized-case-4.png');
}
