/* Epilogue */
@font-face {
  font-family: "Epilogue";
  src: url("../../assets/fonts/Epilogue/Epilogue-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  src: url("../../assets/fonts/Epilogue/Epilogue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  src: url("../../assets/fonts/Epilogue/Epilogue-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  src: url("../../assets/fonts/Epilogue/Epilogue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
