h1,
h2,
h2,
h4,
h5,
p {
  margin: 0;
}

.main-heading {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  text-transform: uppercase;
}

.title {
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
}

@media (max-width: 1200px) {
  .title {
    font-size: 24px;
    line-height: 28px;
  }
}
